<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="team.exp.dimagsekhelo">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.RulesScreen"></activity>
        <activity android:name=".Activity.TeamEditScreen" />
        <activity android:name=".Activity.RedeemPointsScreen" />
        <activity android:name=".Activity.MyTeamActivity" />
        <activity android:name=".Activity.PointChangeScreen" />
        <activity android:name=".Activity.UserContestsScreen" />
        <activity android:name=".Activity.TeamPreviewScreen" />
        <activity android:name=".Activity.CaptainSelectionScreen" />
        <activity android:name=".Activity.PaymentScreen" />
        <activity android:name=".Activity.PlayerSelectionScreen" />
        <activity android:name=".Activity.ContestSelectionScreen" />
        <activity
            android:name=".Activity.HomeScreen"
            android:launchMode="singleTask" />
        <activity android:name=".Activity.MyProfileScreen" />
        <activity android:name=".Activity.SignUpScreen" />
        <activity android:name=".Activity.SignInScreen" />
        <activity android:name=".Activity.ForgotPasswordScreen" />
        <activity android:name=".Activity.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_AGDBBTPRM2l7cj" />
    </application>

    <uses-permission android:name="android.permission.CAMERA" />

</manifest>